.app-paint-fight-page {
  background-image: url('/assets/images/ui/paint/for-fight-page/black-paint-for-fight-page-1.avif'),
    url('/assets/images/ui/paint/for-fight-page/black-paint-for-fight-page-2.avif');
  background-repeat: no-repeat, no-repeat;
  background-position: left center, right center;
  background-size: 50% 100%, 50% 100%;
}
